html {
  box-sizing: border-box;
 
}

body,
body:before,
body:after {
  box-sizing: inherit;
}

body{
    margin: 0vw;
    padding: 0vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/img/ocean.png);
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    background-color: #329df2;  
    padding-left: 1vw;
    padding-right: 6vh;
}

.menu__logo{
    opacity: 0.8;
    width: 15vw;
}

.menu__item{
    list-style: none;
    animation: fadeInRight;
   animation-duration: 2s;
}
.menu__itemlogo{
    list-style: none;
    animation:fadeInLeft;
    animation-duration: 2s;
}

.menu__item--right{
    margin-right: auto;
}

.menu__item--left{
    margin-left: auto;
}

.menu__item:hover{
   font-size: large;
   gap: 3em;
   text-decoration: underline;
   
}


.menu__link{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    padding-top: 1vw;
}

.grid{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 20vw, 1fr ) );
	grid-gap: 1em;
}


.grid__item{
    background: white;
	border: solid black 2px;
    border-radius: 6px;
    padding: 1vw;
}


.grid__item .img{
    width: 100%;
    border-radius: 10px;
}

.grid__item:hover{
    box-shadow: 0 0 50px rgba(0, 0, 0, 100);
   animation: pulse;
   animation-duration: 3s;
}




.footer{
    background-color: #329df2;  
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 2vw;

    color: white;

    font-size: 14px;

    text-align: center;
}

.icons{
    display: flex;
    gap: 3vw;
}
h2{
    font-size: 15px;
}

.icon1:hover{
    animation: forwards;
    display: inline-block;
    animation:tada;
    animation-duration: 2s;
 

}

.icon2:hover{
    animation: infinite;
    animation:tada;
    animation-duration: 2s;
    margin: 0 0.5rem;

}

.icon3:hover{
    animation: infinite;
    animation:tada;
    animation-duration: 2s;
    margin: 0 0.5rem;

}

@media only screen and (max-width: 800px) {
    .menu{
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }


    .menu__item{
        margin: auto;
    }
}



